* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #333;
    font-size: 1.6rem;
}

h1 {
    color: #fff;
}

.text {
    color: #ff0;
    font-size: 2.5rem;
}

.test {
    height: 10rem;
    width: 50%;
    border: 2px solid red;
}

.caption {
    color: #fff;
    font-size: 3rem;
}